.app-body-container {
    display: flex;
    height: 600px;
    margin-top: 50px;
    /* border-top: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe; */
}

/* .image-div {
    flex: 6;
} */

.app-body-container > div{
    /* flex: 1; */
    margin: 10px 10px 10px 0;
}

.app-body-container > div:nth-child(3){
    margin-left: 10px;
    border: 1px solid #e7e7e7;
}

#image-sec-div{
    width: 100%;
    min-width: 500px;
}

#sidebar-div{
    width: 450px;
    min-width: 450px;
    margin-right: 20px;
}

.vl{
    width: 0;
    height: 580px;
    border-left: 1px solid #e7e7e7;
    margin: 10px auto;
}

/* @media screen and (max-width: 1000px) {
    .app-body-container {
        height: 1300px;
    }
} */