* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #fcfcfc;
}

.container {
    width: 100%;
    height: 100vh;
}

.dropdown {
    width: 100%;
    user-select: none;
    margin: 0 auto;
    position: relative;
}

.dropdown .dropdown-btn {
    height: 50px;
    padding: 0 15px;
    background: #fff;
    /* box-shadow: 0 0 10px 6px rgba(0,0,0,0.3); */
    outline: 2px solid #e7e7e7;
    font-size: 1.2em;
    color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: all 0.3s;
}

.dropdown .dropdown-btn:hover {
    background-color: #e7e7e7;
    color: #000;
    transition: all 0.3s;
}

.dropdown .dropdown-btn:active {
    background-color: #0066CC;
    color: #FFF;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px 6px rgba(0,0,0,0.1);
    color: #333;
    width: 96%;
    z-index: 3;
    transform: scale(1);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

.dropdown .dropdown-content .show {
    transform: scale(1);
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background-color: #e7e7e7;
    color: #000;
    transition: all 0.3s;
}

.dropdown .dropdown-content .dropdown-item:active {
    background-color: #0066CC;
    color: #FFF;
}