.sidebar-wrapper {
    /* width: 100%; */
    margin: 10px 24px;
}

.divider {
    margin: 50px 0;
}

#dataset-label {
    font-size: 20px;
    margin-right: 15px;
}

#menu-label {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

button {
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 1em;
    outline: 1px solid #e7e7e7;
    background-color: #FFF;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover:enabled {
    background-color: #e7e7e7;
    color: #000;
    transition: all 0.3s;
}

button:active:enabled {
    background-color: #404040;
    color: #FFF;
}

button:disabled{
    cursor: auto !important;
}

.btn-group{
    display: inline-flex;
    overflow: hidden;
    outline: 1px solid #e7e7e7;
    margin-top: 20px;
    width: 100%;
}

.radio-input{
    display: none;
}

.radio-label{
    width: 50%;
    padding: 12px 0;
    text-align: center;
    background-color: #FFF;
    color: #000;
    transition: all 0.3s;
    font-size: 1.2em;
    cursor: pointer;
    font-size: 1em;
}

/* .radio-label:not(:last-of-type){
    border-right:1px solid #e7e7e7;
}

.radio-input:checked + .radio-label{
    background-color: #0066CC !important;
    color: #FFF !important;
}

.radio-input:hover + .radio-label{
    background-color: #e7e7e7;
    color: #000;
}

.radio-input:active + .radio-label{
    background-color: #bebebe;
    color: #000;
} */

#spinner {
    position: absolute;
    top: 50%;
    right: 150px;
    margin-right: 10px;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}